@model IQueryable<FitCalc>
@*@model CalculatorModel*@

<script src="~/JS/JQ.js"></script>
<script src="~/JS/Calc.js"></script>
<script type="text/javascript">

    function urlLit(w, v) {
        var tr = 'a b v g d e ["zh","j"] z i y k l m n o p r s t u f h c ch sh ["shh","shch"] ~ y ~ e yu ya ~ ["jo","e"]'.split(' ');
        var ww = ''; w = w.toLowerCase();
        for (i = 0; i < w.length; ++i) {
            cc = w.charCodeAt(i); ch = (cc >= 1072 ? tr[cc - 1072] : w[i]);
            if (ch.length < 3) ww += ch; else ww += eval(ch)[v];
        }
        return (ww.replace(/[^a-zA-Z0-9\-]/g, '-').replace(/[-]{2,}/gim, '-').replace(/^\-+/g, '').replace(/\-+$/g, ''));
    }

    var selectedType;
    var selectedTh;
    var selectedThPrice;
    var selectedTypePrice;
    var glPrSave;

    $(document).ready(function () {


        function AddFittingToTab(FitType) {     // Add Fittings
            $('#FittingsSelector #singleSelect0').first().clone(true).appendTo($('#FittingsSelector'));
            $('#FittingsSelector .__select__label').first().clone(true).appendTo($('#FittingsSelector')).html(FitType);
        }

        function AddGlThToTab(ThGl) {           // Add Glass th
            $('#GlThSelector #singleSelect0').first().clone(true).appendTo($('#GlThSelector')).attr('id', 'Th' + ThGl);
            $('#GlThSelector .__select__label').first().clone(true).appendTo($('#GlThSelector')).html(ThGl);
        }

        function AddGlTypeToTab(Type) {         // Add Glass type
            $('#TypeGlSelector #singleSelect0').first().clone(true).appendTo($('#TypeGlSelector')).attr('id', 'Ty' + urlLit(Type, 0));
            $('#TypeGlSelector .__select__label').first().clone(true).appendTo($('#TypeGlSelector')).html(Type);
        }



        $.ajax({                                    // Get Fittings (add to list)
            type: "GET",
            url: "@Url.Action("GetFittingsTypes")",
            @*data: {i: 1},*@
            dataType: "json",
            success: function (result) {
                var list = result.list;
                $.each(list, function (index, value) {
                    AddFittingToTab(value);
                });
            },
            error: function (e) {
                console.log("Error:Unable to load data from server (Fittings)");
            }
        });

        $.ajax({                                    // Get glass thickness (add to list)
            type: "GET",
            url: "@Url.Action("GetGlassesThs")",
            @*data: {i: 1},*@
            dataType: "json",
            success: function (result) {
                var list = result.list;
                $.each(list, function (index, value) {
                    AddGlThToTab(value);
                });
            },
            error: function (e) {
                console.log("Error:Unable to load data from server (Glasses Th)");
            }
        });

        $.ajax({                                     // Get Glass types (add to list)
            type: "GET",
            url: "@Url.Action("GetGlassesTypes")",
            @*data: {i: 1},*@
            dataType: "json",
            success: function (result) {
                var list = result.list;
                $.each(list, function (index, value) {
                    AddGlTypeToTab(value);
                });
            },
            error: function (e) {
                console.log("Error:Unable to load data from server (Glasses Types)");
            }
        });
        
        //-------------------------------------------------------------------------------------------------------------------------//

        $('#TypeGlSelector .__select__label').click(function () {                                         // Click on type look for th
            selectedType = $(this).html();
            $('#GlThSelector .__select__label').each(function (i, elem) {
                var LTh = ($(elem).html());
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetGlassPrice")",
                    data: { type: selectedType, th: LTh },
                    dataType: "text",
                    success: function (result) {
                        if (result == -1) {
                            var idVal = '#Th' + LTh;
                            $(idVal).attr('disabled', true);
                        }
                        else {
                            GlPrice = result;
                            var idVal = '#Th' + LTh;
                            $(idVal).attr('disabled', false);
                        }

                    },
                    error: function (e) {
                        console.log("Error:Unable to load data from server (Glasses Th)");
                    }
                    });
            });

            // get glass price (click on type)
            selectedThPrice = $('#2_select .__select__title').html();
            $.ajax({
            type: "POST",
            url: "@Url.Action("GetGlassPrice")",
            data: { type: selectedType, th: selectedThPrice },
            dataType: "text",
            success: function (result) {
                if (result == -1) {
                    setGlPrice(0);
                    console.log('gl type: returned -1');
                }
                else {
                    //setGlPrice(result);
                    outCalc(result, 0);
                    glPrSave = result;
                }

            },
            error: function (e) {
                console.log("Error:Unable to load data from server (Glass types, get price)");
            }
            });
        });

        $('#GlThSelector .__select__label').click(function () {                                          // Click on th look for type
            selectedTh = ($(this).html());
            $('#TypeGlSelector .__select__label').each(function (i, elem) {
                var LType = ($(elem).html());
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetGlassPrice")",
                    data: { type: LType, th: selectedTh },
                    dataType: "text",
                    success: function (result) {
                        if (result == -1) {
                            var idVal = '#Ty' + urlLit(LType,0);
                            $(idVal).attr('disabled', true);
                        }
                        else {
                            GlPrice = result;
                            var idVal = '#Ty' + urlLit(LType, 0);
                            $(idVal).attr('disabled', false);
                        }

                    },
                    error: function (e) {
                        console.log("Error:Unable to load data from server (Glass types)");
                    }
                });
            });
            // get glass price (click on th)
            selectedTypePrice = $('#1_select .__select__title').html();
            $.ajax({
            type: "POST",
            url: "@Url.Action("GetGlassPrice")",
            data: { type: selectedTypePrice, th: selectedTh },
            dataType: "text",
            success: function (result) {
                if (result == -1) {
                    setGlPrice(0);
                    console.log('gl th: returned -1');
                }
                else {
                    //setGlPrice(result);
                    outCalc(result, 0);
                    glPrSave = result;
                    //alert(result);
                }

            },
            error: function (e) {
                console.log("Error:Unable to load data from server (Glass types, get price)");
            }
        });

        });

        $('#FittingsSelector .__select__label').click(function () {
                var selectedFit = $('#3_select .__select__title').html();
                $.ajax({
                type: "POST",
                url: "@Url.Action("GetFittPrice")",
                data: { type: selectedFit },
                dataType: "text",
                    success: function (result) {

                    outCalc(glPrSave, result);
                    //setFitPrice(result);
                    //console.log('gl type: returned -1');

                },
                error: function (e) {
                    console.log("Error:Unable to load data from server (Fittings, get price)");
                }
            });
        });

        }); //Document ready end


</script>
<script src="~/JS/Calc.js"></script>
<form>
 
    <div id="forCalcShow">
        <p id="calcCloseBtn">×</p>
        <h3>Рассчитать стоимость заказа</h3>
        <div class="CalcBody">
            <input type="button" value="Душевая перегородка" class="BtnCalc active" id="LockedForChoose" data-state="wall">
            <input type="button" value="П-образная душевая" class="BtnCalc" data-state="uSh">
            <input type="button" value="Угловая душевая" class="BtnCalc" data-state="lSh">

            <div class="glSize">
                <b>Ширина, (мм)</b>
                <input type="number" id="widthInput" required class="onlyNums">
            </div>

            <div class="glSize">
                <b>Длина, (мм)</b>
                <input type="number" id="lengthInput" required>
            </div>

            <div class="glSize">
                <b>Высота, (мм)</b>
                <input type="number" id="heightInput" required>
            </div>

            <div class="selectCl">
                <b>1.1 Тип стекла</b>
                <div class="__select" data-state="" id="1_select">
                    <div class="__select__title" data-default="Option 0">Выбрать</div>
                    <div class="__select__content" id="TypeGlSelector">

                        <input id="singleSelect0" class="__select__input" type="radio" name="singleSelect" />
                        <label for="singleSelect0" class="__select__label">-</label>

                    </div>
                </div>
            </div>

            <div class="selectCl">
                <b>1.2 Толщина стекла</b>
                <div class="__select" data-state="1"  id="2_select">
                    <div class="__select__title" data-default="Option 0">Выбрать</div>
                    <div class="__select__content" id="GlThSelector">

                        <input id="singleSelect0" class="__select__input" type="radio" name="singleSelect" />
                        <label for="singleSelect0" class="__select__label">0</label>

                    </div>
                </div>
            </div>

            <div class="selectCl">
                <b>1.3 Тип фурнитуры</b>
                <div class="__select" data-state="2" id="3_select">
                    <div class="__select__title" data-default="Option 0">Стандарт</div>
                    <div class="__select__content" id="FittingsSelector">

                        <input id="singleSelect0" class="__select__input" type="radio" name="singleSelect" />
                        <label for="singleSelect0" class="__select__label">-</label>

                    </div>
                </div>
            </div>


            <p class="CalcResVal">Итого: </p>

        </div>
        <div class="CalcBodyOrderForms">
            <input type="text" placeholder="Имя:" class="InputNameCheck"></input>
            <input type="phone" placeholder="Телефон:" class="InputMobileCheck"></input>
            <input type="submit" id="SendUserOrder" value="Заказать" disabled></input>
        </div>
    </div>
</form>
