@model TextField
@{
    string strTitle = "Главная (редактирование)";
    ViewBag.Title = strTitle;
}

<script src="~/js/ckeditor/ckeditor.js"></script>

<div>
    <h2>@strTitle:</h2>
    <b>
        **Динамические изображения можно будет поменять в разделе "Калькулятор"
    </b><br>
    <div>
        <form asp-area="Admin" asp-controller="TextFields" asp-action="Edit" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="DateAdded" />
            <input type="hidden" asp-for="CodeWord" />

            <div class="EditSpace">
                <div asp-validation-summary="All"></div>

                <div>
                    <h3><label asp-for="Title"></label></h3>
                    <input asp-for="Title" value="@(Model.Title)">
                    <span asp-validation-for="Title"></span>
                </div>

                <div>
                    <b>*Используй &lt;br/&gt; чтобы задать переносы строки!<br />Пример:<br />Lorem ipsum tempus: nulla tempus, &lt;br/&gt;<br />enim adipiscing vitae...</b>
                    <h3><label asp-for="Text"></label></h3>
                    <textarea asp-for="Text" cols="70" rows="8" placeholder="ОСТЕКЛЕНИЕ ЛЮБОЙ СЛОЖНОСТИ ПО ЛУЧШЕЙ ЦЕНЕ!">@(Model.Text)</textarea>
                    <span asp-validation-for="Text"></span>
      
                </div>

                <div>
                    <h3><label asp-for="MetaTitle"></label></h3>
                    <input asp-for="MetaTitle" value="@(Model.MetaTitle)">
                    <span asp-validation-for="MetaTitle"></span>
                </div>

                <div>
                    <h3><label asp-for="MetaDescription"></label></h3>
                    <textarea asp-for="MetaDescription" cols="70" rows="8" placeholder="Description">@(Model.MetaDescription)</textarea>
                    <span asp-validation-for="MetaDescription"></span>
                </div>

                <div>
                    <h3><label asp-for="MetaKeywords"></label></h3>
                    <textarea asp-for="MetaKeywords" cols="70" rows="8" placeholder="Keywords">@(Model.MetaKeywords)</textarea>
                    <span asp-validation-for="MetaKeywords"></span>
                </div>
                        <br><input type="submit" value="Сохранить">
            </div>
        </form>
    </div>
</div>


<!--<script src="~/JS/ckeditor/ckeditor.js"></script>
<script>

    window.onload = function() {
        var newCKEdit = CKEDITOR.replace('@Html.IdFor(x=>x.Text)');
        newCKEdit.updateElement();
    }
</script>-->