@model IQueryable<FitCalc>

<h2>Фурнитура (редактирование):</h2>

<div class="globalEditSpace">
    <form asp-area="Admin" asp-controller="Fittings" asp-action="Edit" asp-route-id="" method="post">
        <input type="submit" value="Добавить" />
    </form>
</div>

<ul>
    @if (Model.Any())
    {
        @foreach (FitCalc entity in Model)
        {
            <li>
                <input type="checkbox"><a class="notForOrders">@($"{entity.TypeFit}") <p class="pValue">@($"{entity.PriceFit}") &#8381;</p> </a>

                <a asp-area="Admin" asp-controller="Fittings" asp-action="Edit" asp-route-id="@entity.id">
                    <input type="submit" value="🖊" />
                </a>


                <form style="display: inline-block;" id="@entity.id" asp-area="Admin" asp-controller="Fittings" asp-action="Delete" method="post">
                    <input type="hidden" name="id" value="@entity.id">
                    <input type="submit" name="delButton" value="🗑" onclick="document.getElementById('form-@entity.id')" />
                </form>

            </li>

        }
    }
</ul>